@model List<Project1WebApp.Models.OrderWeb>
@{
    ViewData["Title"] = "SuggestedOrderView";
}

<h2>SuggestedOrderView</h2>

<h3>Suggested Order</h3>
@if (Model.Count > 0)
{
    @Model[Model.Count - 1].username
    @Model[Model.Count - 1].cheesepizza
    @Model[Model.Count - 1].pepperonipizza
    @Model[Model.Count - 1].sausagepizza
    @Model[Model.Count - 1].ordertime
    @Model[Model.Count - 1].locationID

}




<h3>View Order History</h3>

@foreach (var ohl in Model)
{
    @ohl.username
    @ohl.cheesepizza
    @ohl.pepperonipizza
    @ohl.sausagepizza
    @ohl.ordertime
    @ohl.locationID
};

<a asp-action="Usersearchpage" asp-controller="User">
    Go to User Search
</a>

<a asp-action="Create" asp-controller="Order">
    Move to Order Page
</a>