@model IEnumerable<Project1.Library.Order>

@{
    ViewData["Title"] = "Orderhistory";
}

<h2>Orderhistory</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action ="Orderhistory">
<input type ="submit"name="button" value="Earliest"/>
<input type="submit" name="button" value="Latest" />
<input type="submit" name="button" value="Cheapest" />
<input type="submit" name="button" value="Most Expensive" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.locationID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ordertime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cheesepizza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pepperonipizza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sausagepizza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.currentprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orderID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.locationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ordertime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cheesepizza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pepperonipizza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sausagepizza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.currentprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderID)
            </td>
            <td>
               
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
             
        </tr>
}
    </tbody>
</table>
